numpy>=1.24
pandas>=1.5
polars>=0.19
duckdb>=0.8
torch>=2.0
torchvision>=0.15
torchaudio>=2.0
cython>=0.29
numba>=0.57

transformers>=4.28
robyn>=0.14
psqlpy>=0.1
pyqt6
markdown

matplotlib>=3.7
seaborn>=0.12
scikit-learn>=1.2
tqdm>=4.65
pydantic>=1.10